*{
    margin: 0;
}
nav {
    height: 60px;
    width: 100%;
    background-color: aquamarine;
    position: fixed;
    margin-bottom: 60px;
}
.menuIcon{
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.bar{
    height: 6px;
    width: 90%;
    background-color: white;
}
.menu{
    position: fixed;
    top: 60px;
    right: -150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: aqua;
    min-height: 150px;
    transition: 0.125s;
}
.homesplash{
    padding-top: 60px;
    background-color: rebeccapurple;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/2/27/Bliss_%28Windows_XP%29.png");
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle{
    height: 200px;
    width: 300px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
}
.content{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}
img{
    height: 75%;
    width: 75%;
}